html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.6s ease-in-out;
}



/* Edit below this region */




/* go to top button */
.go-to-top-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: 92%;
    right: 2vw;
}






/* covid guidelines */
#covid {
    margin-top: -90px;
    width: 100%;
    background-color: #434452;
    font-family: sans-serif;
    color: white;
    transition: all 0.5s ease-in-out;
    padding: 4px;
}
#covid center {
    height: auto;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
#closeCovid {
    position: relative;
    top: -4.2vh;
    right: 30px;
    float: right;
    cursor: pointer;
}






/* cookie policy */
.cookie-policy {
    bottom: -250px;
    display: flex;
    flex-wrap: wrap;

    z-index: 30;
    position: fixed;
    left: 6%;
    background-color: rgb(67, 123, 160);
    height: auto;
    width: 74%;
    border-radius: 20px;
    padding: 30px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    transition: all 0.7s ease-in-out;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cookie-policy button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: rgb(67, 123, 160);
    border: none;
    transition: all 0.6s ease-in-out;
}
.cookie-policy button:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}








/* newsletter */
.newsletter {
    display: flex;
    flex-wrap: wrap;

    z-index: 30;
    position: fixed;
    top: 50%;
    left: -150%;
    transform: translate(-50%, -50%);
    background-color: rgb(12, 53, 80);
    height: auto;
    width: 50%;
    border-radius: 15px;
    padding: 70px;
    color: rgb(70, 205, 214);
    font-family: 'Varela Round', sans-serif;
    transition: all 0.7s ease-in-out;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.newsletter i {
    font-size: 100px;
    padding: 20px;
}
.newsletter h1 {
    padding: 10px;
}
.newsletter span {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: white;
    font-size: 13px;
}
.newsletter input {
    padding: 20px;
    border-radius: 10px;
    height: 5%;
    width: 40%;
    color: #000;
    background-color: rgb(224, 224, 224);
    font-family: 'Varela Round', sans-serif;
}
.newsletter button {
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    color: rgb(12, 53, 80);
    background-color: rgb(70, 205, 214);
    border: none;
    transition: all 0.6s ease-in-out;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}

/* newsletter icon */
#news-icon {
    left: -13vw;
    position: fixed;
    top: 74%;
    background-color: rgb(59, 195, 236);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.fa-envelope {
    position: absolute;
    margin-left: 11.7px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(27, 66, 85);
}










/* chat box */
.chat-box {
    z-index: 20;
    position: fixed;
    top: 800px;
    left: 80px;
    background-color: rgb(43, 149, 182);
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;
}
#chat-icon {
    left: -13vw;
    position: fixed;
    top: 82%;
    background-color: rgb(59, 195, 236);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.fa-comments {
    position: absolute;
    margin-left: 11.7px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(27, 66, 85);
}

.chat-box button {
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    color: rgb(12, 53, 80);
    background-color: rgb(70, 205, 214);
    border: none;
    transition: all 0.6s ease-in-out;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    width: 85%;
}

#chat-close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}








/* theme icon */
#theme-icon {
    left: -13vw;
    position: fixed;
    top: 90%;
    background-color: rgb(59, 195, 236);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.fa-adjust {
    position: absolute;
    margin-left: 11.7px;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(27, 66, 85);
}








/* feedback */
.feedback {
    z-index: 20;
    position: fixed;
    top: 100px;
    right: -550px;
    background-color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    transition: all 0.5s ease-in-out;
}
.feedback h4 {
    font-size: 23px;
}
.opt1, .opt2, .opt3, .opt4, .opt5 {
    color: rgb(24, 50, 107);
    font-weight: 600;
    border: 2px solid rgb(24, 50, 107);
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.opt1:hover, .opt2:hover, .opt3:hover, .opt4:hover, .opt5:hover {
    background-color: rgb(24, 50, 107);
    color: white;
}

#feedback-toggle {
    position: absolute;
    top: 240px;
    left: -126.7px;
    background-color: rgb(58, 107, 211);
    color: white;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(-90deg);
}
.closeFeedback {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}









/*  nav bar */
#nav-container {
    transform: scale(0);
    transition: all 0.8s ease-in-out;
    position: absolute;
    right: 5%;
    margin-top: -70px;
    margin-right: 3%;
}

#nav-list ul {
    display: inline;
}
#nav-list li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}
#nav-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    transition: all 0.4s ease-in-out;
    margin-right: 20px;
}
#nav-list li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

#search {
    height: 40px;
    width: 270px;
    background-color: #40414e;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding: 5px;
    transition: all 0.4s ease-in-out;
}
#search-icon {
    position: relative;
    top: 10px;
    left: -50px;
    cursor: pointer;
} 


  


  
/* nav bar */
#sidenav-container {
    display: none;
    opacity: 0;
}
.sidenav {
    margin-right: -100%;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    background-color: #474750;
    overflow-x: hidden;
    transition: all 0.45s ease-in-out;
    padding-top: 60px;
    margin-left: -30px;
}
.sidenav li {
    list-style-type: none;
}
.sidenav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    transition: all 0.1s ease-in-out;
}
.sidenav a:hover {
    color: rgb(180, 180, 180);
}
.openNav {
    cursor: pointer;
    position: absolute;
    top: 18%;
    right: 25px;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 66px;
    cursor: pointer;
}








/* account details */
.fa-user-circle {
    cursor: pointer;
    color: white;
}

#account {
    z-index: 5;
    transition: all 0.6s ease-in-out;
    display: none;
    position: absolute;
    background-color: #555668;
    padding-left: 5px;
    right: -10px;
    top: 60px;
}







/* content container */
#content {
    display: flex;
    flex-wrap: wrap;
}

#site-logo {
    transition: all 0.7s ease-in-out;
    transform: scale(0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    margin-top: -7vh;
    margin-bottom: 2vh;
    cursor: pointer
}







/* social handles */
.icon {
    left: -55px;
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 220px;
    width: 53px;
    background-color: rgb(75, 81, 100);
    border-radius: 0px 20px 20px 0px;
}

.icon a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.5s ease;
    color: white;
    font-size: 24px;
}
.icon a:hover {
    background-color: black;
    width: 30px;
    border-radius: 0px 20px 20px 0px;
}
.fa-twitter:hover{
    color:#33CCFF;
}
.fa-telegram:hover{
    color:#9999FF;
}
.fa-instagram:hover{
    color:#D132D3;
}
.fa-facebook-f:hover{
    color:blue;
}
.fa-linkedin:hover{
    color:blue;
}

#arrow {
    position: fixed;
    top: 350px;
    left: -50px;
    cursor: pointer;
    transition: all 0.6s ease;
}








/* main content of the page */
#mainContent {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    position: absolute;
    margin-top: 10%;
    top: 200px;
    left: 6%;
    width: 88%;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.item-card {
    cursor: pointer;
    background-color: #616375;
    height: 350px;
    width: 240px;
    margin-left: 55px;
    margin-bottom: 60px;
    padding: 0 10px;
    box-shadow: rgba(34, 33, 33, 0.56) 0px 50px 130px 30px;
    border-radius: 30px 6px;
    transition: all 0.4s ease-in-out;
}
.item-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(180, 175, 175, 0.56) 0px 22px 70px 4px;
}


/* display card info */
.item-card-hover {
    opacity: 0;
    z-index: 20;
    transition: all 0.6s ease-in-out;
    padding: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.item-card:hover > .item-card-hover {
    opacity: 1;
}


.item-card-hover p:nth-child(2) {
    font-weight: 700;
    position: absolute;
    bottom: 30px;
}
.item-card-hover p:nth-child(3) {
    font-weight: 400;
    position: absolute;
    bottom: 10px;
}
.item-card-hover span {
    position: absolute;
    top: 10px;
}


.item-card-hover i {
    position: absolute;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.item-card-hover i:nth-child(4) {
    bottom: 10px;
    right: 40px;
}
.fa-heart:hover {
    transform: scale(1.3);
    color: rgb(255, 0, 0);
}
.item-card-hover i:nth-child(5) {
    bottom: 10px;
    right: 3px;
}
.fa-cart-plus:hover {
    transform: scale(1.3);
    color: rgb(185, 185, 185);
}










/* slideshow models */
#model1 {
    background: linear-gradient(40deg, #373c80 60%, #5da0df 10%);
    display: flex;
    flex-wrap: wrap;
    transition: all 0.7s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#model1 img {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    left: 4%;
    height: auto;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-left: auto;
    margin-right: auto;
}
#model1 img:hover {
    border-radius: 20px;
}
#model1:hover {
    border: 0.2px double white;
    padding: 30px;
    cursor: pointer;
    border-radius: 20px;
}
#model1 p {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 2vw;
    margin-top: 10%;
    margin-left: 3%;
    letter-spacing: 2.2px;
    word-spacing: 6px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 2px 2px #dfdfdf, 
      -2px 5px 1px #8b8b8b, 
      -4px 8px 0px #535353
}

@keyframes fade {
    from {opacity: 0.7} 
    to {opacity: 1}
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}









/* item-card heading */
#top {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}


hr {
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, white, rgba(67, 61, 97, 0.75), white);
}









/* about us */
#abt-outer {
    display: flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    height: auto;
    width: 80vw;

    border-radius: 54px;
    color: rgb(24, 24, 59);
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.7px;
    word-spacing: 2px;
    text-align: center;
    background: url(img/contact_us_bg.jpg) no-repeat center center fixed;
}

#abt-inner {
    cursor: pointer;
    padding: 40px;
    height: auto;
    width: 60vw;
    border-radius: 20px;
    background: rgba(138, 138, 138, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.5s ease-in-out;
    margin-left: 6.3vw;
}
#abt-inner:hover {
    transform: scale(1.1);
}








/* contact us */
#contact-container {
    z-index: 4;
    padding: 40px;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: linear-gradient(40deg, rgb(107, 106, 124) 50%, rgb(218, 218, 218) 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#contact-info {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 20px 1px;
    border-radius: 30px;
    padding: 30px;
    padding-top: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
}
#contact-info div{
    padding: 24px 0;
}
#contact-info i {
    color: white;
    height: 15px;
    height: auto;
    margin-top: 7px;
    padding: 10px;
}
#contact-info span {
    font-size: 30px;
}
#contact-info p {
    font-size: 20px;
    height: auto;
    margin-top: -1px;
}
iframe {
    border-radius: 30px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 7px 2px;
}





#contact-us {
    width: 450px;
    height: auto;
    float: right;
    background-color: rgb(207, 207, 207);
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#contact-us p:nth-child(1) {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
#contact-us p:nth-child(2) {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: -50px;
}

#contact-us input, textarea {
    font-family: 'Poppins', sans-serif;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 10px;
    width: 75%;
    background-color: rgb(214, 214, 214);
}
#msg {
    height: 10vh;
}

#contact-us button {
    outline: none;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 20px;
    width: 45%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(38, 36, 46);
    transition: all 0.6s ease-in-out;
}
#contact-us button:hover {
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 10px 15px 20px 1px;
}










/* responsiveness */
@media screen and (max-width: 1458px) {
    #nav-container {
        display: none;
    }
    #sidenav-container {
        display: inline-block;
    }
    .sidenav {
        margin-top: -150px;
    }
    .sidenav a {
        padding-bottom: 15px;
        padding-right: 20px;
    }
    #mainContent {
        margin-top: 5%;
    }
}

@media screen and (max-width: 1250px) {
    #site-logo {
        margin-top: -5vh;
        width: 38vw;
    }
}

@media screen and (max-width: 900px) {
    .openNav {
        top: 10%;
    }
}

@media screen and (max-width: 750px) {
    #site-logo {
        margin-top: -5vh;
        width: 50vw;
    }
}

@media screen and (max-width: 460px) {
    #covid {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #site-logo {
        margin-top: -4vh;
        width: 70vw;
    }
}

@media screen and (max-width: 411px) {
    #model1 {
        margin-top: 10vh;
    }
    #closeCovid {
        top: -6.2vh;
    }
}